---
layout: default
---
<style>
.left-column {
  float: left;
  width: 70%;
}

.right-column {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<div class="row">
  <div class="left-column">
    <h2>{{ page.title }}</h2>

      {% include page-intro.html %}

      {{ content }}
  </div>

  <div class="right-column">
    <section>
      <a class="twitter-timeline" href="https://twitter.com/AcrossSibecol">Tweets by Across</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>
  </div>
</div>


<div class="row">
  <section>

    <h3>Recent news</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
</div>
